@import url(http://fonts.googleapis.com/css?family=Offside);
#h1index {
    text-align: center;
}
#pindex {
    text-align: center;
}
#deals {
    animation-delay:0.2s; -moz-animation-delay:0.2s; -webkit-animation-delay:0.2s;
}
body{
    background: white;
}
#jumbotron {
    background-color: transparent;
}
#side-home 
{ animation-delay:0.2s; 
  -moz-animation-delay:0.2s; 
  -webkit-animation-delay:0.2s;
}
#side-about 				
{ animation-delay:0.6s; 
  -moz-animation-delay:0.6s; 
  -webkit-animation-delay:0.6s; 
}
#side-work 					
{ animation-delay:0.8s; 
  -moz-animation-delay:0.8s; 
  -webkit-animation-delay:0.8s; 
}
#side-contact 				
{ animation-delay:0.3s; 
  -moz-animation-delay:0.3s; 
  -webkit-animation-delay:0.3s; 
}
#sidebar {
-moz-border-radius: 15px;
border-radius: 15px;
}					

#sidebar-nav 					
{  
}
#sidebar-nav ul 				
{ list-style:none; 
  padding-left:0; 
}
#sidebar-nav li 				
{  
}
#sidebar-nav a 					
{ background:#428bca; 
  color:#FFF; 
  display: block; 
  margin-top: 20px;
  margin-bottom:5px; 
  padding:2px; 
  text-transform:uppercase;
  border-radius:0px; 
  -moz-border-radius:0px; 
  -webkit-border-radius:0px;
  font-family: Arial;
  font-size: small;
  text-indent: 2em;
  -moz-border-radius: 4px;
   border-radius: 5px;
}
#sidebar-nav a:hover 		
{ background:#3276b1; 
  text-decoration:none; 
}
/* HEADER
============================================================================= */
#header
{ margin-bottom:50px; 
}
#logo
{ color:white
      ; font-family:'Offside'; 
  font-size:80px; 
  margin-bottom:0px; 
  margin-top:0px; 
}
#logo span 					
{ display:inline-block; 
}
	/* logo animation */
	.dd 						{ animation-delay:0.2s; -moz-animation-delay:0.2s; -webkit-animation-delay:0.2s; }
	.da 						{ animation-delay:0.8s; -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }
	.dn 						{ animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
	.dg 						{ animation-delay:1s; -moz-animation-delay:1s; -webkit-animation-delay:1s; }
	.de 						{ animation-delay:0.4s; -moz-animation-delay:0.4s; -webkit-animation-delay:0.4s; }
	.dr 						{ animation-delay:1.2s; -moz-animation-delay:1.2s; -webkit-animation-delay:1.2s; }

	.zz 						{ animation-delay:1s; -moz-animation-delay:1s; -webkit-animation-delay:1s; }
	.zo 						{ animation-delay:0.4s; -moz-animation-delay:0.4s; -webkit-animation-delay:0.4s; }
	.zn 						{ animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
	.ze 						{ animation-delay:0.5s; -moz-animation-delay:0.5s; -webkit-animation-delay:0.5s; }
        .hi                                             { animation-delay:0.2s; -moz-animation-delay:0.2s; -webkit-animation-delay:0.2s; }
        .pi                                             { animation-delay:0.2s; -moz-animation-delay:0.2s; -webkit-animation-delay:0.2s; }

        #iconsindex { 
            color: white;
            
        }
        #learnmorebutton {
            background-color: black;
            color: white;
            margin-top: 20px;
            border-color: transparent;
        }
        #navbar {
            border-color: transparent;
        }
        #indexlink {
            color: white;
            background: transparent;
            border: transparent;
        }  
        #indexlink2 {
            background-color: transparent;
            color: white;
            border: transparent;
        }
#imgaboutme
#body {
    background: #F85959;
}
#imgturn {
    margin-top: 50;
}
#pindex2 {
    text-align: center;
    margin-top: 20;
    color: white;
}
#collapseOne {
    background-image: url(http://m.rgbimg.com/cache1nhWIp/users/x/xy/xymonau/600/dKTt9V.jpg); no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 125;
}
    border: #F85959;
}
#panel-heading {
        background-color: #F85959;
    border: #F85959;
}
#collapseTwo {
    background-image: url(http://wallpaperscraft.com/image/background_faded_stains_light_47125_640x360.jpg); no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 125;
}
 border: #F85959;
body {
  position: relative;
}
#collapseThree {
    background-image: url(http://wallpaperscraft.com/image/spots_background_faded_51784_1920x1440.jpg); no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 300;
}
 border: #F85959;
 
 /*turning card */
 .flip-container {
     perspesctive:1000;
 }
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 300px;
	height: 350px;
        border: black;
        box-shadow: 10px 10px 5px #888888;
                    background: seashell;
            border-color: black;
            border-radius: 20px ;
            box-shadow: 10px 10px 5px #888888;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}.vertical.flip-container {
	position: relative;
}

	.vertical .back {
		transform: rotateX(180deg);
	}

	.vertical.flip-container .flipper {
		transform-origin: 100% 213.5px; /* half of height */
	}

	.vertical.flip-container:hover .flipper {
		transform: rotateX(-180deg);
	}
        #front {
            background: seashell;
            border-color: black;
            border-radius: 20px ;
            box-shadow: 10px 10px 5px #888888;
            
        }
        #pfront {
            margin-top: 20;
            color: black;
            font-family: Arial;
        }
        p {
            color: black;
        }
        #firstline {
            color: black;
            margin-top: 20;
        }
        .b1, .b2, .b3, .b4{
display:inline-block;
position: relative;
margin: 45;
float:left;
width:25%;
height:400px;
background-color: transparent;
padding-left: 10;
}
#whaticandoforyou {
    font-size: 10px;
}
#macpic {
    margin-left: 500;
}
#pdeals {
    text-align: center;
    color: white;
}
#thumbnail {
    background-color: #F85959;
    border: black
        
}
#imgindex {
    padding: 20;
    
}
#pcontactme {
    text-align: center;
    color: white;
    margin-top: 100;
}
